<h1>Sistema de Gestión</h1>

<div>
    <a asp-controller="Categoria" asp-action="Index">Categorías</a> |
    <a asp-controller="Producto" asp-action="Index">Productos</a> |
    <a asp-controller="Cliente" asp-action="Index">Clientes</a> |
    <a asp-controller="Pedido" asp-action="Index">Pedidos</a> |
    <a asp-controller="Reserva" asp-action="Index">Reservas</a>
</div>