@{
    ViewData["Breadcrumb"] = "Categoría";
}
@model IEnumerable<Hechizo.Core.Entidades.Categoria>

<section class="page-hechizo container">

    <h1 class="title-hechizo">Categorías</h1>

    <p class="subtitle-hechizo">
        Descubre nuestras experiencias mágicas
    </p>

    <div class="row">

        @foreach (var categoria in Model)
        {
            <div class="col-lg-4 col-md-6 mb-5">

                <div class="card-hechizo">

                    <img src="~/img/@categoria.Imagen" />

                    <div class="card-content text-center">

                        <h4>@categoria.Nombre</h4>

                        <p>
                            @categoria.Descripcion
                        </p>

                        <a asp-controller="Producto"
                               asp-action="PorCategoria"
                               asp-route-categoria="@categoria.Nombre"
                               class="btn-hechizo">

                            Ver productos
                        </a>

                    </div>

                </div>

            </div>
        }

    </div>

</section>